* {
  margin: 0;
  padding: 0;
}

div.phone {
  margin: 30px auto;
  width: 400px;
  height: 600px;
  border: 1px solid black;
  position: relative;
}

div.navbar-container {
  height: 50px;
  width: 100%;
}

div.app-container {
  width: 400px;
  height: 500px;
  position: relative;
  overflow: auto;
}

div.button-container {
  height: 50px;
  border-top: 1px solid grey;
}

div.internal-app-container {
  width: 100%;
}

ul.navbar-toggle-bar {
  display: block;
  text-align: center;
  list-style: none;
  height: 50px;
  border-bottom: 1px solid grey;
}

li.navbar-toggle {
  display: inline-block;
  margin-top: 15px;
  padding: 0 10px 0 10px;
  cursor: pointer;
  border: 1px solid grey;
}

li.navbar-toggle:hover {
  background-color: lightgreen;
}

.active {
  background-color: lightgreen;
}


li.navbar-toggle:last-child {
  border-radius: 0 4px 4px 0;
}

li.navbar-toggle:first-child {
  border-radius: 4px 0 0 4px;
}

/*
  messages
*/

div.single-message-block {
  position: relative;
  min-height: 70px;
  margin: 10px auto 0 auto;
  padding: 0 10px 0 10px;
  width: 85%;
  border: 1px solid grey;
}

img {
  float: left;
  width: 60px;
  height: 45px;
  margin: 10px 10px 0 0 ;
  border-radius: 5px;
}

.message-username {
  font-size: 1.2em;
  margin-top: 10px;
}

p.message-timestamp {
  position: absolute;
  font-style: italic;
  bottom: 3px;
  right: 3px;
}

/*
  Add Message Button
*/

div.add-message-button-internal {
  border: 1px solid grey;
  border-radius: 10px;
  width: 50%;
  margin: 0 auto;
  margin-top: 10px;
  z-index: 10;
}

div.add-message-button-internal:hover {
  background-color: lightgreen;
  cursor: pointer;
}

div.add-message-button-internal > p {
  font-size: 1.35em;
  text-align: center;
}